/*
* ==============================================================================
*                               DASHBOARD
* ==============================================================================
*/


body {
    background: var(--background-primary);
}

.header-top {
    width: 100%;
    height: 75px;
    background: var(--color-in-primary);
}

.container-main {
    width: 100%;
    height: calc(95% - 50px);
    /* background: red; */

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 25px;
}

.container-main .content-main {
    width: 93%;
    max-width: 1300px;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-gap: 25px;  

    overflow: hidden;
}


/*
* SIDEBAR
*/

.content-main .sidebar {
    width: 270px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.25);
    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;

}

.sidebar .header-sidebar {
    width: 100%;
    height: auto;
    min-height: 50px;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
}

.sidebar .header-sidebar img {
    width: 25px;
    height: 25px;
}

.sidebar .header-sidebar #b_usuario {
    color: var(--color-in-primary);
}

.sidebar .links-sidebar {
    width: 100%;
    height: auto;
    padding-top: 30px;

    /* background: red; */
    overflow-y: scroll;
}

.sidebar .links-sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-no-selected);    
    font-size: 14px;

    margin-top: 15px;

    transition: .3s;
}

.sidebar .links-sidebar a:hover {
    color: var(--color-in-primary);
}


.sidebar .links-sidebar a.current-page {
    color: var(--color-in-primary);
}



.sidebar .links-sidebar a span {
    position: relative;
    left: 15px;
}

.sidebar .links-sidebar a svg {
   width: 16px;
   height: 16px;
}



.container-main .content-main .cards {
    width: 100%;
    height: 100%;
    /* background: tomato; */


    display: grid;
    grid-gap: 25px;
    /* grid-template-rows: 100px auto;
    grid-template-columns: repeat(3, 1fr); */
    flex-wrap: wrap;
}

/*
* SCROLL BAR BOXES
*/


::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}


::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    display: none;
}


/*
* CARDS PRINCIPAIS
*/


.content-main .cards .cards-principal {
    position: relative;
    width: 305px;
    height: 100px;
    padding: 15px;

    /* padding-top: 25px; */

    background: var(--backgorund-box-chart);
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.25);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}


.cards .cards-principal span.title {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Archivo' !important;
    margin-top: 10px;
}

.cards .cards-principal span.sector-read {
    font-size: 22px;
    color: var(--color-text-primary);

    /* margin-top: 10px; */
}

.icon-card {
    
    position: absolute;
    width: 35px;
    height: 35px;
    right: 15px;

    color: #FFF;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-card.icon1 { background: #ffdaa6; }
.icon-card.icon2 { background: #e5b4f7; }
.icon-card.icon3 { background: #ffc6c6; }


.icon-card svg {
    color: #FFF;
}

.container-main .cards .container-charts {
    width: 100%;
    height: 100%;
    border-radius: 8px;


    grid-column: 1 / 3;
    overflow-y: scroll;
}

.cards .container-charts:hover::-webkit-scrollbar-thumb { display: block; transition: .2s; border-radius: 8px;}

.container-charts .box-chart {
    width: 100%;
    height: 100%;

    background: var(--backgorund-box-chart);
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.25);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-charts .box-chart.current-sector {
    align-items: flex-start;
}

.container-charts .box-chart:nth-child(n + 2) { margin-top: 25px; }

.container-charts .box-chart .header-box-chart {
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.container-charts .box-chart .header-box-chart .title-box {
    font-size: 14px;
    font-family: 'Archivo';
    font-weight: 700;
}

.cards .container-charts .box-chart .heatmap-graph {
    position: relative;
    width: 350px;
    height: 350px;
    top: 25px;
}
.container-charts .box-chart .header-box-chart select {
    width: 180px;
    height: 25px;

    border: 0;

    font-family: 'Poppins';
}

.box-chart .header-box-chart .filter {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: #B8B6B6;
}

.box-chart .header-box-chart .filter.current {
    color: var(--color-in-primary);
}


.box-chart .header-box-chart .filter svg {
    width: 20px;
    height: 20px;
}

.box-chart .header-box-chart .filter:hover {
    cursor: pointer;
    color: var(--color-in-primary);
}

.box-chart .content-heatmap-filter {
    width: 100%;
    height: 100%;
    padding: 0 5px;

    display: flex;
    justify-content: space-between;
}

.box-chart .content-heatmap-filter .heatmap-form-content {
    display: none;
    width: calc(100% - 350px);
    height: 100%;

    padding: 15px 5px;
}

.content-heatmap-filter .heatmap-form-content input {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    padding-left: 5px;

    background: #f0efef;
    border-radius: 5px;
    border: 0;
}

.content-heatmap-filter .heatmap-form-content input:nth-child(1) {
    width: 100%;
}

.content-heatmap-filter .heatmap-form-content input:nth-child(n + 2) {
    width: 49%;
}

.content-heatmap-filter .heatmap-form-content button {
    width: 100%;
    height: 50px;

    background: #7DFB91;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}



/*
*   GAUGES
*/

.content-main .cards .container-gauges {
    width: 100%;
    height: 100vh;
    border-radius: 8px;
    
    grid-column: 3 / 3;
    overflow-y: scroll;

}

.cards .container-gauges:hover::-webkit-scrollbar-thumb { display: block; transition: .2s; border-radius: 8px;}

.cards .container-gauges .box-gauge {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    
    
    background: var(--backgorund-box-chart);
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.25);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .container-gauges .box-gauge:nth-child(n + 2) { margin-top: 25px; }


.cards .container-gauges .box-gauge .canvas {
    width: 500px;
    height: 500px;
}




/*
* SPINNER
*/

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*
    Set the color of the icon
  */
.div_aguarde svg path,
.div_aguarde svg rect {
    fill: var(--color-in-primary);
}


/*
* ==============================================================================
*                           CANVAS / HEATMAP STYLES
* ==============================================================================
*/

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.heatmap {
    /* height: 400px; */
    /* width: 605px; */
    height: 400px;
    width: 400px;
    background-image: url("../../img/planta.png");
    background-size: cover;
}

.heatmap-tempo {
    height: 400px;
    width: 400px;
    background-image: url("../../img/planta.png");
    background-size: cover;
}