*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #F9F9F9;
    height: 100vh;
}

/* Retângulo rosa do topo */
.divTopo {
display: flex;
justify-content: flex-start;

width: 100%;
min-width: 1366px;
height: 40%;
left: 0px;
top: 0px;
background: #FF7D7D;
/*z-index: -1;*/
  }

/* Estilo do container principal */
.container{
    width:80%;
    margin: 0 auto;
}


/* Estilo do título informativo */
.tituloPrincipal{
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 100px;
  }

/* Estilo da tabela com lista dos setores */
.divLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto    ;
}
.divTabela{
    width: 40%;
    margin-top: -6%;
}
.divTitulosTabela{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #DADADA;
}
.setorListado{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.25);
    border-radius: 8px;
}
.setorListado *{
    padding: 33px;
}

/* Estilo das Labels para nome */
.nomeSetor{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
width: 18%;
color: #000000;
}

/* Estilos das Labels para quantidade */
.qtdSetor{
width: 5%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #000000;
}

/* Ícone "editar" */
.imgEditSetor{
    height: 90px;
    width: 90px;
    cursor: pointer;
}


/* Estilo da imagem da seta de voltar */
.imgSeta{
margin: 20px 0 25px;
}


/* Estilização da div de editar os setores */ 
.containerEdit {
    padding: 16px;
    border-radius: 18px;
}
  

/* o modal (background) */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  /* Conteúdo do Modal */
  .modal-content {
    background-color: #fff;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    border-radius: 18px;
    width: 40%;
    height: 60%;
    padding: 5px 5%;
    display: grid;
  }


  /* Título: Editar Setor */
  #tituloEditar {
      text-align: center;
  }


  /* Inputs */
  .divInputNome, .divInputQtd {
      width: 100%;
  }
  #inputEdit {
      width: 100%;
    height: 44px;
    border-radius: 5px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color: #C2C2C2;
  }
  

  /* Estilo dos Botões Cancelar e Salvar */
.containerbotoes{
    margin-top: 10px;
}

.cancelbtn {
    width: 100x;
    padding: 10px 18px;
    background: rgba(168, 168, 168, 0.24);
    border: none;
  cursor: pointer;
  }
  .savebtn{
    width: 100px;
    padding: 10px 18px;
    background: #63EA60;
    border: none;
  cursor: pointer;
  }


  /* Animação de Zoom do modal */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

/* Clearfix */
.clearfix:before, .clearfix:after { content: "020"; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }