@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');



:root {
	--color-in-primary: #FF7D7D;
	--color-text-primary: #FF7D7D;
	--color-no-selected: #DADADA;	

	--background-primary: rgb(237, 237, 237);
	/* --background-primary: #F9F9F9; */
	--backgorund-box-chart: #FFFFFF;

}

/*
* ==============================================================================
*                               GLOBAL STYLE
* ==============================================================================
*/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

body,
input,
button {
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none !important;
}

a {
	text-decoration: none !important;
	color: #000;
}