@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

/*-------LOGIN----------*/
.login{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.body-login{
    width: 50%;
    height: 100%;
    background-color: rgb(237,237,237);
}

#message{
    background-image: url(../img/background-login.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(186, 186, 186, 0.5);
}

.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
}

#back{
    cursor: pointer;
}

#logo{
    width: 30%;
}

.content{
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    top: 200px;
   
    font-size: 24px;
    font-weight: 700;
    color: #fff;

    /* margin-top: 50%; */
}

/* .forms{
    margin-top: 45%;
} */

#form_login a{
    width: 100%;
    text-align: end;
    color: #837E7E;
    text-decoration: none;
    margin: 2% 0 2% 0;
}

.btn-cadastro{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

#formulario{
    display: flex;
    justify-content: center;
}

#btn_cadastro{
    border: 3px solid rgb(122, 121, 121);
    background-color: rgba(175, 175, 175, 0.5);
}

#btn_cadastro:hover{
    transition: .5s;
    background-color: rgb(122, 121, 121);
}
