@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.container{
    margin: auto;
    width: 80%;
}

.btn{
    width: 100%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #7DFB91;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/*-------LOGIN----------*/
.login{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.body-login{
    width: 50%;
    height: 100%;
    background-color: rgb(237,237,237);
}

#message{
    background-image: url(../img/background-login.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(186, 186, 186, 0.5);
}

.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 25px;
}

#back{
    cursor: pointer;
}

#logo{
    width: 30%;
}

.content{
    width: 80%;
    margin: auto;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin-top: 50%;
}

#form_login{
    margin: auto;
    width: 60%;
    margin-top: 45%;
    display: flex;
    flex-direction: column;
}

#form_login input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    color: #4d4d4d;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #FBFBFB;
}

.input-login{
    position: relative;
}

.icons-form{
    position: absolute;
    right: 25px;
    top: 13px;
}

#form_login h2{
    margin-bottom: 5%;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
}

#form_login a{
    width: 100%;
    text-align: end;
    color: #837E7E;
    text-decoration: none;
    margin: 2% 0 2% 0;
}

.btn-cadastro{
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

#eye{
    cursor: pointer;
}

#img_aguarde{
    display: none;
    margin: auto;
    height: 50px;
    margin-top: 5%;
}

#div_erro{
    margin-top: 2%;
    width: 60%;
    margin: auto;
    text-align: center;
}


/* .login-container{
    max-width: 100%;
    max-height:100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #C9F2E8;
}
.login-container .back {
    color: #FF7A00;
    font-size: 18px;
    line-height: 21px;
    padding: 25px;
    display:flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.login-container .back img{
    padding-right: 5px;
}

.login-container .back a {
    text-decoration: none;
    color: #FF7A00;
}

.login-container .formulario{
    padding: 25px 0;
    align-self: center;
    margin: auto;
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .formulario img {
    margin-bottom: 30px;
}

.login-container .formulario input {
    width: 250px;
    height: 40px;
    font-size: 22px;
    line-height: 26px;
    background: #FFFFFF;
    border: 1px solid #C8C5CC;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 5px;
}

.login-container .formulario button {
    font-size: 22px;
    line-height: 26px;
    width: 250px;
    height: 40px;
    border: 0;
    background: #FF7A00;
    color: #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;
}

p {
    font-size: 14px;
    line-height: 16px;
    color: #576D7E;
    padding-top: 5px;
    margin-bottom: 7px;
}

p a {
    color: #FF7A00;
    text-decoration: none;
}

.forgot {
    font-weight: 600;
    padding: 0 0 15px 0;
}

form {
    width: min-content;
} */