@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: rgb(237,237,237);
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 15%;
}

.form-password{
    margin: auto;
    margin-top: 17%;
    margin-bottom: 17%;
    width: 40%;
}

#form h2{
    margin-bottom: 2%;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
}

#form p{
    margin-bottom: 1%;
}

#form button{
    margin-top: 2%;
}

.input-form{
    position: relative;
}

.icons-form{
    position: absolute;
    right: 25px;
    top: 13px;
}