@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* ESTILOS GLOBAIS */
.bg1{
    background-color: #fafafa;
}

.bg2 {
    background-color: #ffffff;
}

.bggrad {
    background-image: linear-gradient(135deg, #ffffff, #fafafa);
}

.bggrad h2 {
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 91vh;
    margin: auto;
}

/* NAVBAR */
.nav-bar {
    background-color: #2f2f2f;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.nav-bar img {
    height: 35px;
}

.nav-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

.nav-container ul a {
    color: #ffffff;
    text-decoration: none;
}

.nav-container ul a li {
    list-style: none;
    padding: 13px 35px;
}

.login-item {
    background-color: #FF7A00;
    border-radius: 4px;
    margin-left: 30px;
}

/* HEADER */
.header {
    background-image: url('../../img/superm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

.header .text-header {
    width: 47%;
}

/* CONTEXTUALIZAÇÃO */
.text-div {
    width: 35%;
}

.text-div p {
    line-height: 28px;
    font-size: 16px;
    margin-top: 20px;
}

/* SERVIÇOS */
.serv-cont {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.serv-cont h2 {
    padding: 20px 0;
}
.servicos {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}


.service-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    height: 200px;
    width: 30%;
    text-align: center;
}   

/* SOBRE NÓS */
.content {
    background-color: #ffffff;
    padding: 40px;
    width: 30%;
    min-height: 500px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content P {
    line-height: 28px;
    font-size: 16px;
}

.dev {
    width: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 10px;
}
.dev:hover {
    transform: scale(1.1);
}

.dev img {
    width: 100%;
    border-radius: 10px 10px 2px 2px;
}

.dev p {
    padding: 10px;
}

/* CONTATO */
.contato {
    background-color: #FFBE55;
    color: #ffffff;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.contato h2 {
    padding: 20px 0;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contato form input {
    height: 40px;
}

.contato form input, textarea {
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 14px;
}

.button-form {
    background-color: #25B39E;
    color: #ffffff;
    font-size: 18px;
}

.footer-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 20px 0;
}

.email {
    display: flex;
    align-items: center;
}

.email img {
    margin-right: 15px;
}

/* FOOTER */
.footer {
    background-color: #2f2f2f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}