@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.dashboard-container .header {
    background-color: #FFBE55;
    height: 7vh;
    display:flex;
    justify-content: flex-end;
}

.dashboard-container .header button {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin-right: 25px;
    cursor: pointer;
}


.dashboard-container .container {
    height: 80vh;
    width: 100%;
    padding-top: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-container .container span {
    margin-top: 30px;
    color: #FF7A00;
}

.dashboard-container .container select, input {
    background-color: white;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.dashboard-container .container .grafico {
    margin-top: 25px;
    height: 60vh;
    width: 60%;
    background-color: #a0a0a0;
    display:flex;
    justify-content: center;
    align-items:center;
}

.dashboard-container .container.middle {
    height: 80vh;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard-container .container.middle :nth-child(1) {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    align-items: flex-start;
}

.dashboard-container .container.middle :nth-child(1) h2 {
    color: #FF7A00;
    width: 100%;
}

.dashboard-container .container.middle :nth-child(1) select, input {
    padding-left: 10px;
    margin-left: 25px;
    margin-top: 15px;
    width: 65%;
    height: 40px;
}

.dashboard-container .container.middle .grafico {
    width: 50%;
}

.dashboard-container .container.last {
    margin-bottom: 50px;
}

.dashboard-container .container.last h2 {
    color: #FF7A00;
    margin-bottom: 10px;
}

.dashboard-container .container.last > select {
    align-self: flex-end;
    margin-right: 20%;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 20%;
    height: 40px;
}

.dashboard-container .container.last > .grafico {
    margin: 0 0 10px 0;
}

.dashboard-container .container.last :nth-last-child(1) {
    display:flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.dashboard-container .container.last :nth-last-child(1) select, input, button {
    width: auto;
}