@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #C9F2E8;
    margin: 0;
}

body * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.button-submit {
    background-color: #FF7A00;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
}

.back-page {
    color: #FF7A00;
    text-decoration: none;
    font-weight: 600;
}

.menu {
    font-size: 18px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
}

.menu p {
    margin-left: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
}

.form-container {
    background-color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container form input {
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-container p {
    font-size: 14px;
    margin-top: 15px;
}

/* modal box */
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    padding: 30px 50px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);  
    font-size: 22px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    display: flex;
    justify-content: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 